image-generation/n8n-image-generation-workflow.json
{
  "name": "Creator Scans - Batch Image Generation",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsonOutput": "={{ $json }}",
        "options": {}
      },
      "id": "load-prompts",
      "name": "Load All 68 Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "notesInFlow": true,
      "notes": "Paste the contents of all-prompts.json here. This outputs 68 items, one per image prompt."
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "loop",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [440, 0]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "wait",
      "name": "Wait 3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [660, 0],
      "notesInFlow": true,
      "notes": "Rate limit protection between API calls"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://creatorscans.com"
            },
            {
              "name": "X-Title",
              "value": "Creator Scans Image Generation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-2.5-flash-image\",\n  \"modalities\": [\"image\"],\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.prompt }}\"\n    }\n  ],\n  \"image_config\": {\n    \"aspect_ratio\": \"9:16\"\n  }\n}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "openrouter",
      "name": "Generate Image (OpenRouter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0],
      "notesInFlow": true,
      "notes": "Calls Nano Banana via OpenRouter. Set your Header Auth credential with: Name=Authorization, Value=Bearer YOUR_OPENROUTER_API_KEY"
    },
    {
      "parameters": {
        "jsCode": "// Extract the base64 image from OpenRouter response\nconst response = $input.first().json;\nconst promptData = $('Loop Over Items').first().json;\n\ntry {\n  // OpenRouter returns images in choices[0].message.images array\n  const imageUrl = response.body.choices[0].message.images[0].image_url.url;\n  \n  // Extract just the base64 data (remove data:image/png;base64, prefix)\n  const base64Data = imageUrl.replace(/^data:image\\/\\w+;base64,/, '');\n  \n  return [{\n    json: {\n      filename: promptData.filename,\n      category: promptData.category,\n      name: promptData.name,\n      character: promptData.character,\n      base64: base64Data,\n      success: true\n    }\n  }];\n} catch (error) {\n  // If image extraction fails, log and continue\n  return [{\n    json: {\n      filename: promptData.filename,\n      category: promptData.category,\n      name: promptData.name,\n      character: promptData.character,\n      error: error.message,\n      success: false\n    }\n  }];\n}"
      },
      "id": "extract-image",
      "name": "Extract Base64 Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Image Generated?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloudinary.com/v1_1/{{ $env.CLOUDINARY_CLOUD_NAME }}/image/upload",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"file\": \"data:image/png;base64,{{ $json.base64 }}\",\n  \"public_id\": \"creator-scans/storyboard/{{ $json.category }}/{{ $json.filename }}\",\n  \"tags\": \"creator-scans,storyboard,{{ $json.category }}\",\n  \"context\": \"category={{ $json.category }}|name={{ $json.name }}|character={{ $json.character }}\",\n  \"api_key\": \"{{ $env.CLOUDINARY_API_KEY }}\",\n  \"timestamp\": \"{{ Math.floor(Date.now() / 1000) }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "upload-cloudinary",
      "name": "Upload to Cloudinary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, -100],
      "notesInFlow": true,
      "notes": "Uploads generated image to Cloudinary. You may need to use a signed upload or upload preset instead. Set CLOUDINARY_CLOUD_NAME, CLOUDINARY_API_KEY as n8n env vars or replace with your values."
    },
    {
      "parameters": {
        "jsCode": "// Build the lookup table entry\nconst uploadResponse = $input.first().json;\nconst promptData = $('Extract Base64 Image').first().json;\n\nreturn [{\n  json: {\n    filename: promptData.filename,\n    category: promptData.category,\n    name: promptData.name,\n    character: promptData.character,\n    cloudinary_url: uploadResponse.body?.secure_url || uploadResponse.secure_url || 'UPLOAD_FAILED',\n    public_id: uploadResponse.body?.public_id || uploadResponse.public_id || 'UPLOAD_FAILED'\n  }\n}];"
      },
      "id": "build-lookup",
      "name": "Build Lookup Entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, -100]
    },
    {
      "parameters": {
        "jsCode": "// Log failed image generation\nconst item = $input.first().json;\nconsole.log(`FAILED: ${item.filename} - ${item.error}`);\nreturn [$input.first()];"
      },
      "id": "log-failure",
      "name": "Log Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 100]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Load All 68 Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load All 68 Prompts": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Wait 3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3s": {
      "main": [
        [
          {
            "node": "Generate Image (OpenRouter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image (OpenRouter)": {
      "main": [
        [
          {
            "node": "Extract Base64 Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Base64 Image": {
      "main": [
        [
          {
            "node": "Image Generated?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Generated?": {
      "main": [
        [
          {
            "node": "Upload to Cloudinary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Cloudinary": {
      "main": [
        [
          {
            "node": "Build Lookup Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Lookup Entry": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Failure": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "Creator Scans"
    }
  ]
}
